.yin-yang{
    position: relative;
    width: 100px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 100%;
    border-color: #000000;
    border-style: solid;
    box-sizing: content-box;
    border-width: 5px 100px 5px 5px;

}

.yin-yang:before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    position: absolute;
    border-radius: 100%;
    border: 35px solid #000000;
    left: 50px;
    bottom: 0;
}

.yin-yang::after {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #000000;
    position: absolute;
    border-radius: 100%;
    border: 35px solid #FFFFFF;
    left: 50px;
    top: 0;
}